<ion-header>
    <ion-toolbar>
        <ion-title class="text-center">main</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <div>
            <button type="button" class="btn btn-outline-info btn-block" (click)="gosetting()">Setting</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-warning btn-block" (click)="goProducts()">Products</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-success btn-block" (click)="goFavorite()">Favorite</button>
        </div>
        <div>
            <button type="button" class="btn btn-outline-danger btn-block" (click)="goCart()">Cart</button>
        </div>
    </form>

</ion-content>