<ion-header>
    <ion-toolbar>
        <ion-title class="text-center">favorite</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <div class="d-flex justify-content-around">
            <button type="button" class="btn btn-outline-info" (click)="goSetting()">Setting</button>
            <button type="button" class="btn btn-outline-warning" (click)="goProduct()">Products</button>
            <button type="button" class="btn btn-outline-success ">Favorite</button>
            <button type="button" class="btn btn-outline-danger " (click)="goCart()">Cart</button>
        </div>
        <hr>
    </form>
    <ion-list>
        <ion-item *ngFor="let fav of favorite">
            <ion-label>
                <h2> title : {{ fav.product.title }} </h2>
                <p> description : {{ fav.product.description }} </p>
                <p> price : {{ fav.product.price | currency }} </p>
                <ion-icon name="trash" color="danger" (click)="delete(fav.id)"></ion-icon>
            </ion-label>
            <ion-icon slot="start" icon="phone-portrait" color="primary"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>